<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- TODO: Add <servlet> tags for each servlet here. -->
	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
	<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome file. -->
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>
  

  <security-constraint>
    <web-resource-collection>
        <url-pattern>/science/*</url-pattern>
        <url-pattern>/scienceengine/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
        <url-pattern>/user</url-pattern>
        <url-pattern>/delprofile</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.mazalearn.gwt.server.UserFilter</filter-class>
  </filter>
  <servlet>
    <servlet-name>UserPermissionServlet</servlet-name>
    <servlet-class>com.mazalearn.gwt.server.UserPermissionServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UserProfileDeleteServlet</servlet-name>
    <servlet-class>com.mazalearn.gwt.server.UserProfileDeleteServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ScienceEngineServlet</servlet-name>
    <servlet-class>com.mazalearn.gwt.server.ScienceEngineServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.mazalearn.gwt.server.ProfileServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>InstallProfileServlet</servlet-name>
    <servlet-class>com.mazalearn.gwt.server.InstallProfileServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrationEmailServlet</servlet-name>
    <servlet-class>com.mazalearn.gwt.server.RegistrationEmailServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.mazalearn.gwt.server.RegistrationServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UserImageServlet</servlet-name>
    <servlet-class>com.mazalearn.gwt.server.UserImageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UserCoachesServlet</servlet-name>
    <servlet-class>com.mazalearn.gwt.server.UserCoachesServlet</servlet-class>
  </servlet>

  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/science/*</url-pattern>
    <url-pattern>/scienceengine/*</url-pattern>
  </filter-mapping>

  <servlet-mapping>
    <servlet-name>UserPermissionServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScienceEngineServlet</servlet-name>
    <url-pattern>/scienceengine/*</url-pattern>
    <url-pattern>/demo</url-pattern>
    <url-pattern>/train.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserProfileDeleteServlet</servlet-name>
    <url-pattern>/delprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InstallProfileServlet</servlet-name>
    <url-pattern>/installprofile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationEmailServlet</servlet-name>
    <url-pattern>/re</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserImageServlet</servlet-name>
    <url-pattern>/userimage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserCoachesServlet</servlet-name>
    <url-pattern>/usercoaches</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

    <mime-mapping>
        <extension>ipa</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>plist</extension>
        <mime-type>application/xml</mime-type>
    </mime-mapping>
</web-app>